:root {
  --fs-h1: 3rem !important;
  --fs-h2: 2.25rem;
  --fs-h3: 1.50rem;
  --fs-body: 1.25rem !important;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: slategray;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* base styles */
* {
  margin: 0;
  font-family: "Verdana";
  color: #333;
  font-size: var(--fs-body);

}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #f2f2f2;
}
.navbar h1 {
  color: black;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: lightblue;
}
.content {
  margin: 1rem 1rem 1rem rem;
  padding: 20px;
}

.LogInButton {
  background-color: rgb(48, 47, 47);
  border-radius: 8px;
  color: whitesmoke;
}
.LogInButton:hover {
  background-color: rgb(118, 118, 118);
}

.desno {
  text-align: right;
}
.btn-one {
  background-color: rgb(240, 58, 58);
  color: white;
  width: 8rem;
}
.btn-two {
  background-color: rgb(242, 145, 41);
  color: white;
  width: 8rem;
}
.btn-three {
  background-color: rgb(231, 199, 40);
  color: white;
  width: 8rem;
}
.btn-four {
  background-color: rgb(56, 162, 56);
  color: white;
  width: 8rem;
}
.btn-five {
  background-color: rgb(45, 85, 177);
  color: white;
  width: 8rem;
}

.flashcard {
  white-space: pre-line;
}

.card-body{
}